@charset "utf-8";
/* CSS Document */

body{
	background: #FFFBFB  !important;
}

.video_logo{
	width: 140% !important;
}

.color{
	background:#C90359;
}

.espacio{
	margin-top: -10% !important;
}

.gale{
	width: 70% !important;
	height: 500px;
	margin: auto;
}